fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.4
pydantic-settings>=2.2.1
asyncpg>=0.29.0
psycopg2-binary>=2.9.9
osmnx>=1.9.1
geopandas>=0.14.3
networkx>=3.2.1
redis>=5.0.3
redisvl>=0.1.2
#pip install sqlalchemy